:root{
    --primary: #000700;
    --dark: #fff7ff;
    --body: rgb(90, 84, 84);
    --box-shadow: 0 8px 22px rgba(0,0,0);
}
body{
    font-family: sans-serif;
    line-height: 1.7;
    color: #f0f0f0 ;
    background:#272b35 ;
  
}
h1,h2,h3,h4,h5,h6,
.display-4 {
    color: var(--dark);
   
}
a {
    color: var(--dark);
    text-decoration: none;
}

.main{
    height: 100vh;
    width: 100%;
    background-image: url(./images1/aa.jpg);
    background-position:  center;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    z-index: 2;
}
.font{
    color: #000700;
}
#footer{
    width: 100%;
    background-color: black;
    margin-top: 100px;
}
#footer h1{
    color: white;
    padding-top: 30px;
}
#footer p{
    color: white;
}
.icons i{
    color: rgba(238,224,208);
    font-size: 30px;
    cursor: pointer;
}
.copyright{
    color: white;
    margin-top: 20px;
}
.credite{
    color: white;
}
